@import '@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-popup{
    display:flex; 
    flex-direction:column; 
    padding:50px; 
    justify-content:center; 
    align-items:center; 
    background-color:#3d3d3d;
}

.dialog-title{
  padding: 0.5rem 2rem !important;
  background: linear-gradient(45deg, #ff0021,  #f921ba , #8600ff);
}

.dialog-form-container{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding:50px 0 20px 0;
    margin:0 auto;
}

  .mat-mdc-form-field-error{
    color: #ffacac !important;
  }

  

  .dialog-buttons-container{
    display: flex;
    width: 20rem;
    justify-content: space-around;
  }

  .dialog-save-button{
  background: linear-gradient(45deg, #2c5726, #29a833) ;
  }

  .dialog-valid-save-button:hover{
    background: linear-gradient(45deg, #2c5726, #023306) ;
  }
  .dialog-invalid-save-button:hover{
    cursor: not-allowed;
  }

  .dialog-back-button{
    background: linear-gradient(45deg, #661466, #5358e7) ;
  }

  .dialog-back-button:hover {
    background: linear-gradient(45deg, #3d0d3d, #292fe9) ;
  }

  

  .dialog-valid-save-button {
    font-size: 24px ;
    font-weight: bold ;
    color: white ;
    border-radius: 12px ;
    padding: 5px 15px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
    background: linear-gradient(45deg, #2c5726, #29a833) ;
  }

  .dialog-invalid-save-button {
    font-size: 24px ;
    font-weight: bold ;
    color: white ;
    border-radius: 12px ;
    padding: 5px 15px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
    background: linear-gradient(45deg, #285e20, #97f15a) ;
  }

  