<div class="dialog-popup">

  <button 
  type="button" 
  class="dialog-header" 
  [disabled]="myReactiveForm.invalid" 
  [ngClass]="{'enabled-btn': myReactiveForm.valid, 'disabled-btn': myReactiveForm.invalid}">Add Task
  </button>
  <p *ngIf="myReactiveForm.valid" class="success-message">✅ Press Add to save the task</p>

  <form [formGroup]="myReactiveForm" style="display:flex; flex-direction:column; padding-top:50px; justify-content:center; margin:0 auto">

    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input matInput
              formControlName="name"
              name="name"
              placeholder="Name">
      <mat-error class="error-message">The task name is mandatory</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cost</mat-label>
      <input matInput 
      formControlName="cost"/>
      <mat-error *ngIf="myReactiveForm.get('cost')?.hasError('required') && myReactiveForm.get('cost')?.touched">The cost is mandatory</mat-error>
      <mat-error *ngIf="myReactiveForm.get('cost')?.hasError('pattern') && myReactiveForm.get('cost')?.touched"> Invalid format. Please enter a valid number.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput 
      [matDatepicker]="picker"
      formControlName="date"
      placeholder="Date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let level of priorityLevels" [value]="level">
          {{ level }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button style="margin-top:30px" type="button" class="button-style" (click)=closeDialog()>Back</button>
    
  </form>
</div>
