@import '@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-popup{
    display:flex; 
    flex-direction:column; 
    padding:50px; 
    justify-content:center; 
    align-items:center; 
    background-color:#3d3d3d;
}

.dialog-title{
  font-size: 24px;
  font-weight: bold;
  padding: 0.5rem 2rem !important;
  background: linear-gradient(45deg, #ff0021,  #f921ba , #8600ff);
  color: white;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

  .mat-mdc-form-field-error{
    color: #ffacac !important;
  }

  .dialog-buttons{
    display: flex;
    justify-content: space-around;
  }

  .dialog-save-button{
    font-size: 24px ;
  font-weight: bold ;
  padding: 5px 15px ;
  background: linear-gradient(45deg, #2c5726, #29a833) ;
  color: white ;
  border-radius: 12px ;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
  display: inline-block ;
  }

  .dialog-valid-save-button {
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #2c5726, #29a833) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
  }

  .dialog-valid-save-button:hover{
    background: linear-gradient(45deg, #2c5726, #023306) ;
  }
  
  .dialog-invalid-save-button {
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #285e20, #97f15a) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
  }

  .dialog-invalid-save-button:hover{
    cursor: not-allowed;
  }

  .dialog-back-button{
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #661466, #5358e7) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
  }

  .dialog-back-button:hover {
    background: linear-gradient(45deg, #3d0d3d, #292fe9) ;
  }