@import '@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-popup{
    display:flex; 
    flex-direction:column; 
    padding:50px; 
    justify-content:center; 
    align-items:center; 
    background-color:#3d3d3d;
}

.dialog-title{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6rem;
    background: linear-gradient(45deg, #ff0021, #f921ba, #8600ff);
    color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin-top: 0.5rem;
}

  .mat-mdc-form-field-error{
    color: #ffacac !important;
  }

  .dialog-buttons{
    display: flex;
    justify-content: space-around;
  }

  .save-button{
    font-size: 24px ;
  font-weight: bold ;
  padding: 5px 15px ;
  background: linear-gradient(45deg, #2c5726, #29a833) ;
  color: white ;
  border-radius: 12px ;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
  display: inline-block ;
  }

  .valid-button {
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #2c5726, #29a833) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
  }
  
  .invalid-button {
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #9cee92, #a4bda6) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
  }