<div class="about-container">
    <h2>About Us</h2>
    <p>Welcome to our To-Do List app! We are a passionate team of developers who love coding and creating useful tools that make life easier. Our goal is to provide you with a simple yet powerful way to manage your tasks efficiently.
    
        We believe that staying organized and productive should be easy, and that's why we've built this app with a focus on clean design and intuitive functionality. Whether you're tracking personal tasks, work projects, or anything in between, we're here to help you stay on top of your to-do list.
        
        Our team is constantly working to improve the app by adding new features, enhancing the user experience, and ensuring that everything works seamlessly. We hope this app helps you accomplish more and brings you closer to your goals.
        
        Thank you for choosing our To-Do List app, and happy task managing!
    </p>

    <button class="add-shadow about-back-button" [routerLink]="['/']">Back to Home</button>
</div>
