body {
    background:url('../public/images/main-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  
  .todo-card {
    margin: auto;
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* Add transparency if needed */
  }

  .app-header{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    background: linear-gradient(45deg, #db56f3, #1b1f3b);
    color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  .button-style{
    font-size: 24px ;
    font-weight: bold ;
    padding: 5px 15px ;
    background: linear-gradient(45deg, #0e154e, #5365e7) ;
    color: white ;
    border-radius: 12px ;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) ;
    display: inline-block ;
  }

  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
    min-width: none !important;
}